*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  margin-left: -40px;
  position: fixed;
  z-index: 2;
}
img ~ img  {
  position: fixed;
  right: 10px;
  top:8px;
}
.nav-link-style {
  font-family: 'poppins', sans-serif;
  font-weight: 600;
}

@media (max-width: 576px) {
  .nav-bg {
    background-color: rgba(243, 239, 239, 0.9);
    border-radius:10px;
  }
}